## Copyright (c) 2008 River Tarnell <river@wikimedia.org>.  *#
#*
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely. This software is provided 'as-is', without any express or implied
 * warranty.
 *#
#* $Id$ *#

#from ReportBase import ReportBase
#extends ReportBase

#filter WebSafe

#def title
$i18n.report_name($report)
#end def

#def body
	<p>
	#if $status == 'first'
		$i18n.fmt('report_first_run')
		#if $query_runtime > 0
			$i18n.fmt('report_cold_cache_running', {'runtime': $i18n.format_duration($query_runtime) })
		#else
			$i18n.fmt('report_cold_cache_started')
		#end if
	#else
		$i18n.fmt('report_nocache')
	#end if
	</p>
#end def

#end filter
