## Copyright (c) 2008 River Tarnell <river@wikimedia.org>.  *#
#*
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely. This software is provided 'as-is', without any express or implied
 * warranty.
 *#
#* $Id$ *#

#from ReportBase import ReportBase
#extends ReportBase

#filter WebSafe

#def title
$i18n.report_name($report)
#end def

#def body
	<p>$i18n.fmt('report_nocache')</p>
#end def

#end filter
