## Copyright (c) 2008 River Tarnell <river@wikimedia.org>.  *#
#*
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely. This software is provided 'as-is', without any express or implied
 * warranty.
 *#
#* $Id: Error.tmpl 41 2008-09-17 15:02:39Z w $ *#

#from ReportBase import ReportBase
#extends ReportBase

#filter WebSafe

#def title
Error!
#end def

#def body
	<p class="error">Sorry, an error occurred: $msg</p>

	<pre>$trace</pre>
#end def

#end filter
