#encoding utf-8
## Copyright (c) 2008 River Tarnell <river@wikimedia.org>.  *#
#*
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely. This software is provided 'as-is', without any express or implied
 * warranty.
 *#
#* $Id: SelectWiki.tmpl 10 2008-09-16 11:55:05Z river $ *#

#from ReportBase import ReportBase
#extends ReportBase

#filter WebSafe

#def title
$i18n.fmt('prefs_title')
#end def

#def head
#end def

#def body
	<form action="$context.docroot/prefs.fcgi" method="post">
		<label for="lang">$i18n.fmt('prefs_langlabel')</label>
		<select name="lang" id="lang">
        #for $ilang, $iname in sorted($langs.iteritems())
        <option value="$ilang" #if $ilang==$lang#selected#end if#>$iname</option>
        #end for
        <pre>
        </select>
		<br />

		<input type="submit" value="$i18n.fmt('prefs_submit')" />
	</form>
#end def

#end filter
